<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PollInterval</key>			
	<string>5</string>
	<key>SUCheckAtStartup</key>		
	<false/>
	<key>SUScheduledCheckInterval</key>
	<integer>604800</integer>
</dict>
</plist>
