<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShowTimerInMenu</key>
	<true/>
	<key>ShowAppIconWhenInPrefs</key>
	<true/>
	<key>AskWhenCertIsUnverifiable</key>
	<true/>
	<key>StartWhenYouLogIn</key>
	<false/>
	<key>UseColorInMenuBar</key>
	<string>YES</string>
	<key>UseSymbolsForAllStatesInMenuBar</key>
	<string>NO</string>
	<key>PollInterval</key>
	<string>5</string>
</dict>
</plist>
